{% load static %}
{% load i18n %}
<html>
<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>{%block title %} CodLegal {%endblock%}</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'appointments/logo.webp' %}" alt="" width="30"
                     height="24"
                     class="d-inline-block align-text-top">
                {% translate "CodLegal" %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'home' %}">{% translate "Home" %}</a>
                    <a class="nav-link" href="{% url 'about' %}">{% translate "About"%}</a>
                    <a class="nav-link" href="{% url 'advocate_list' %}">{% translate "List Advocates"%}</a>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'login' %}">{% translate "Login"%}</a>
                    <a class="nav-link" href="{% url 'password_reset' %}">{% translate "Reset Password"%}</a>
                    {# <a class="nav-link" href="{% url 'signup' %}">{% translate "Signup"%}</a> #}

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate "Signup"%}
                        </a>
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'advocate_signup' %}">{% translate "Advocate"%}</a></li>
                            <li><a class="dropdown-item" href="{% url 'client_signup' %}">{% translate "Client"%}</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="nav-link" href="{% url 'appointment_list' %}">{% translate "My Appointments"%}</a>
                    <a class="nav-link" href="{% url 'update_account' %}">{% translate "My Account"%}</a>
                    <a class="nav-link" href="{% url 'password_change' %}">{% translate "Change Password"%}</a>
                    {% if perms.reviews %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% translate "Feedbacks"%}
                        </a>
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink2">
                            {% if perms.reviews.add_platformreview %}
                            <li><a class="dropdown-item" href="{% url 'submit_app_review' %}">{% translate "Submit Feedback"%}</a></li>
                            {% endif %}
                            {% if perms.reviews.view_platformreview %}
                            <li><a class="dropdown-item" href="{% url 'view_app_reviews' %}">{% translate "View Feedbacks"%}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                    <form action="{% url 'logout' %}" style="margin-bottom:0;" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="background:none;border:none;">{% translate "Logout"%}</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container vh-100 mt-5">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div
                {% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {%block content %} CodLegal {%endblock%}
    </div>
</main>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>