{% extends "base.html" %}
{% load i18n %}

{%block title %} CodLegal | Upcoming Appointments {%endblock%}

{% block content %}
<div class="row">
    {% for appointment in object_list %}
        <div class="col-sm-6 my-3">
            <div class="card">
                <div class="card-header">{% blocktranslate %}Appointment with id {{appointment.pk}} at {{appointment.start_at}} {% endblocktranslate %}</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% blocktranslate with created_at=appointment.created_at %}This appointment was created on {{created_at}} {% endblocktranslate %}</li>
                    <li class="list-group-item">{% translate "Advocate Name"%}: {{appointment.advocate.first_name}} {{appointment.advocate.last_name}}</li>
                    <li class="list-group-item">{% translate "Client Name"%}: {{appointment.client.first_name}} {{appointment.client.last_name}}</li>
                    <li class="list-group-item">{% translate "Client Email"%}: {{appointment.client.email}}</li>
                    {% if appointment.client.phone_number_set.all %}
                        <li class="list-group-item">{% translate "Client Contact Numbers" %}:
                            {% for phone_number in appointment.client.phone_number_set.all %}
                                {{phone_number.number}}
                                {% if not forloop.last %}
                                    {% if forloop.revcounter == 2 %} and
                                    {% else %},
                                    {% endif %}
                                {% else %}
                                {% endif %}
                              {% endfor %}
                        </li>
                    {% else %}
                        <li class="list-group-item">{% translate "Contact Numbers not found"%}</li>
                    {% endif %}
                        </ul>
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-primary" href="{%url 'appointment_delete' pk=appointment.pk %}">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{# Pagination Controls #}
{% if page_obj.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span>{{ page_number }} </span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}

{%endblock%}