{% extends "base.html" %}

{%block title %} CodLegal | Home {%endblock%}

{%block content %}
<h1> We have Advocates with Below Practice Areas </h1>
<div class="row">
    {% for practice_area in practice_areas %}
    <div class="col-sm-6 my-3">
        <div class="card">
            <div class="card-header">
                {{practice_area.name}}
            </div>
            <div class="card-body">
                <p class="card-text">{{practice_area.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}